openstack:{{$url:=printf "https://atlas.hashicorp.com/api/v1/artifacts/sequenceiq/cloudbreak/openstack.image/search?version=%s" $version}}{{$atlas:=httpget $url | json | pointer "/versions/0"}}
  default: {{ $atlas.metadata.image_name }}
